.main-sidebar
    flex 0 0 500px
    &__menu
        padding 22px 8px
        &-back
            padding 0 16px 24px 0
            line-height 22px
            font-weight 500
        &-link
            height 42px
            line-height 42px
            color grayText
            padding 0 21px
            &:hover
                text-decoration none
            &.active
                font-weight 700
                background-color #EFF1F7