.tabs-section
    height 72px
    background-color whiteLight
    border-radius 13px
    border 1px solid grayBorder
    padding 14px 15px
    &__wrapper
        background-color #EFF1F7
        border-radius 8px
        padding 4px
    &__button
        flex 1 1 100%
        text-align center
        line-height 34px
        border-radius 8px
        cursor pointer
        user-select none
        color grayTextLight
        white-space nowrap
        &.active
            background-color #fff
            color violetColor