+b('header').header.box-row.align-center.space-between
	+e.left.box-row.align-center
		+e('b').title.titleLevel1 Проекты
		+e('button').add.addButton: +plus()
	+e.right.box-row.align-center
		+e.search.relative
			+e('input')(type='text' placeholder='Search').search-input.searchField
			+e('span').search-icon: +search()