.modal-wrapper
    position fixed
    left 0
    top 0
    background-color rgba(#B4BCD9, .5)
    z-index 100
    &__container
        background-color white
        border-radius 8px
        flex 0 0 820px
        padding 50px 40px 50px 113px
        max-height 760px
    &__closed
        cursor pointer
        position absolute
        right 0
        top 0
        width 50px
        height 50px

.conitions-text
    line-height 22px
    color grayTextLight
    overflow hidden
    &__static
        padding-right 20px
    h2
        margin-bottom 17px
    p:not(:last-child)
        margin-bottom 20px