extends ../layout/main

block variables
	- const title = 'HUB'
	- const description = ''
	- const keywords = ''
	- const withModal = true

block content
	span.registerLink
		| У Вас есть аккаунт? 
		a(href='/') Авторизация

block modal
	+b.conitions-text.box-col
		h2.titleLevel1 Условия использования
		+e.static.scrollable
			p 1. Общие положения
			p  1.1. В настоящем Соглашении, а также во всех отношениях, связанных с этим документом, применяются следующие понятия:
			p а) Администрация — компания ООО “Облачные технологии”, ИНН 5261088136, находящаяся по адресу: 603009 г. Нижний Новгород, ул. Азовская, д. 16, оф. 12.
			p б) Пользователь — любое дееспособное физическое или юридическое лицо, зарегистрированное в Программе Smarty CRM и использующее её в своих интересах либо в интересах представляемых им лиц.
			p  в) Программа — совокупность программного кода и базы данных, в том числе исходный текст, аудио, видео и визуальное отображение. Зарегистрированное название Программы — Smarty CRM (Свидетельство о регистрации программы для ЭВМ №2014617050). Постоянные адреса веб-версии Программы: smartycrm.ru, smartycrm.com.
			p г) Мобильное приложение — клиент для использования Программы, адаптированный для работы на мобильных устройствах (телефоны, планшетные компьютеры и прочие устройства с операционными системами Android, iOS, Windows и пр.).
			p д) Аккаунт Пользователя — рабочая область Программы, доступ к которой становится возможным после регистрации и авторизации в Программе, в том числе через Мобильное приложение.
			p а) Администрация — компания ООО “Облачные технологии”, ИНН 5261088136, находящаяся по адресу: 603009 г. Нижний Новгород, ул. Азовская, д. 16, оф. 12.
			p б) Пользователь — любое дееспособное физическое или юридическое лицо, зарегистрированное в Программе Smarty CRM и использующее её в своих интересах либо в интересах представляемых им лиц.
			p  в) Программа — совокупность программного кода и базы данных, в том числе исходный текст, аудио, видео и визуальное отображение. Зарегистрированное название Программы — Smarty CRM (Свидетельство о регистрации программы для ЭВМ №2014617050). Постоянные адреса веб-версии Программы: smartycrm.ru, smartycrm.com.
			p г) Мобильное приложение — клиент для использования Программы, адаптированный для работы на мобильных устройствах (телефоны, планшетные компьютеры и прочие устройства с операционными системами Android, iOS, Windows и пр.).
			p д) Аккаунт Пользователя — рабочая область Программы, доступ к которой становится возможным после регистрации и авторизации в Программе, в том числе через Мобильное приложение.