extends ../layout/main
include ../components/tabs
include ../components/mainSidebar

block variables
	- const title = 'HUB - Профиль'
	- const description = ''
	- const keywords = ''
	- const layout = true
	- const pageTitle = 'Профиль'
	- const innerPage = true
	- const tabs = ['Базовые', 'Моя команда', 'Мои Юр. лица']

block main
	+tabs(tabs)
	+b.project-card
