extends ../layout/main

block variables
	- const title = 'HUB'
	- const description = ''
	- const keywords = ''

block content
	//- include ../components/catalogTop
	//- section.catalog-section.box-row
	//- 	include ../components/catalogSidebar
	//- 	include ../components/catalogContent