extends ../layout/main

block variables
	- const title = 'HUB - Проекты'
	- const description = ''
	- const keywords = ''
	- const layout = true

block content
	//- include ../components/catalogTop
	//- section.catalog-section.box-row
	//- 	include ../components/catalogSidebar
	//- 	include ../components/catalogContent