extends ../layout/main

block variables
	- const title = 'HUB - Восстановить пароль'
	- const description = ''
	- const keywords = ''

block content
	span.registerLink
		| У Вас  еще нет аккаунта? 
		a(href='/') Регистрация
	+b.enter-wrapper.box-row.space-center
		+b.enter-box.box-col.radius13
			+e('b').title.titleLevel1 Восстановить пароль
			+e('span').label Введите номер телефона, который привязан к аккаунту
			+e('form').form
				+e.field.box-row.align-center.relative
					+e('label').field-label Номер телефона
					+e('input')(type='text').field-input.inputText
				+e.action.box-col
					+e('button').confirm.purpleLightButton Отправить код
