.relative
    position relative

.full-height
    height 100%

.full-width
    width 100%

.wrapper-absolute
    position absolute
    width 100%
    height 100%
    left 0
    top 0

.text-center
    text-align center

.radius13
    border-radius 13px

// buttons

.purpleButton
    cursor pointer
    height 44px
    border-radius 8px
    color white
    border none
    background-color violetColor
    letter-spacing 0.1px
    font-weight 500
    width 226px
    &[disabled]
        pointer-events none
        background-color buttonDisabled

.purpleLightButton
    cursor pointer
    height 44px
    border-radius 8px
    color violetColor
    border none
    background-color violetColorLight
    letter-spacing 0.1px
    font-weight 500
    width 226px

.addButton
    width 36px
    height 36px
    border-radius 8px
    border none
    cursor pointer
    background-color violetColor

.editButton
    width 36px
    height 36px
    border-radius 8px
    border none
    cursor pointer
    background-color violetColor

.countWdget
    width 30px
    height 30px
    border-radius 50%
    background-color violetColorLight
    text-align center
    line-height 30px
    color violetColor
    cursor pointer

// text samples

.textLink
    cursor pointer
    color violetColor
    &:hover
        text-decoration underline

.errorText
    color errorText
    line-height 22px


//inputs

.inputText
    height 42px
    background whiteLight
    padding 0 10px
    border-radius 2px
    border 2px solid purpleBorder
    width 100%
    color black
    +placeholder()
        opacity 1
        color grayTextLight
    &:focus
        +placeholder()
            opacity 0


.checkboxField
    cursor pointer
    position relative
    width 16px
    height 16px
    input
        display none
        &:not(:checked) + span svg
            opacity 0
    span
        width 16px
        height 16px
        position absolute
        left 0
        top 0
        background-color violetColor
        border-radius 2px

.switcherField
    position relative
    width 34px
    height 14px
    input
        display none
        &:checked + span
            background rgba(violetColor, 0.48)
            &:after
                background-color violetColor
                left 17px
    span
        @extend .wrapper-absolute
        background rgba(#001C3D, 0.08)
        border-radius 7px
        transition background-color 200ms
        &:after
            content ''
            position absolute
            width 20px
            height 20px
            border-radius 50%
            background-color #F9F9F9
            box-shadow 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602)
            left -3px
            top -3px
            transition background-color 200ms, left 200ms

.searchField
    height 32px
    width 323px
    border-radius 8px
    background-color #EFF1F7
    border 1px solid grayBorder
    padding 0 10px 0 38px
    font-size 12px
    color grayTextLight
    font-weight 500
    +placeholder()
        opacity 1
        color grayTextLight
    &:focus
        +placeholder()
            opacity 0

// titles

.titleLevel1
    font-weight 700
    font-size 30px
    line-height 41px
    color grayText

.titleLevel2
    font-size 20px
    line-height 27px
    font-weight 700
    color grayText

// scroll

.scrollable
    overflow-x hidden
    overflow-y auto
    scrollbar-color rgba(#7F7FD5, 0.8) transparent
    scrollbar-width thin
    &::-webkit-scrollbar
        background-color transparent
        width 16px
    &::-webkit-scrollbar-thumb
        background-clip padding-box
        background-color rgba(#7F7FD5, 0.8)
        border 4px solid rgba(0, 0, 0, 0)
        border-radius 10px
        min-height 34px
        width 8px

.gray-scrollable
    overflow-x hidden
    overflow-y auto
    scrollbar-color rgba(#EFF0F6, 0.8) transparent
    scrollbar-width thin
    &::-webkit-scrollbar
        background-color transparent
        width 16px
    &::-webkit-scrollbar-thumb
        background-clip padding-box
        background-color rgba(#EFF0F6, 0.8)
        border 4px solid rgba(0, 0, 0, 0)
        border-radius 10px
        min-height 34px
        width 8px

// other

.blockWhite
    border-radius 13px
    background-color whiteLight
    border 1px solid grayBorder
    padding 30px



// @media samples
// .small-view
//     @media mediumNoView
//         display none

// .medium-view
//     @media largeView
//         display none

// .large-view
//     @media smallView
//         display none !important

// .big-large-view
//     @media mediumView
//         display none

// .tablet-column
//     @media mediumView
//         flex-direction column

// .mobile-column
//     @media smallView
//         flex-direction column