// colors
bodyBg = #eff3f9
grayText = #4F4F4F
grayText2 = #333333
grayTextLight = #6D8694
grayTextLight2 = #6D8693
grayTextLight3 = #828282
violetColor = #7F7FD5
violetColorLight = #E8EBFA
whiteLight = #FDFDFF
grayBorder = #EBEBEB
purpleBorder = #DEE8F3
buttonDisabled = #B3B3D3
errorText = #F68284


// fonts
fontManrope = 'Manrope'

// responsive
// laptopView = 'screen and (min-width 1160px)'
// tabletView = 'screen and (max-width 1159px)'
// mobileView = 'screen and (max-width 767px)'

// contentWidth = 1120px

// paths
generalImages = '../img/general'