.registerLink
    position absolute
    line-height 22px
    top 34px
    right 97px
    color grayTextLight2

.enter-box
    margin-top 193px
    flex 0 0 672px
    background-color whiteLight
    border 1px solid grayBorder
    padding 60px 40px 40px
    &__title
        margin-bottom 10px
    &__label
        line-height 22px
        color grayTextLight3
        margin-bottom 37px
    &__field
        margin-bottom 16px
        &.loginPassword
            position relative
            margin-bottom 8px
        &-label
            flex 0 0 195px
            color grayTextLight
    &__action
        padding-left 195px
    &__restore
        font-size 14px
        line-height 21px
        margin-bottom 16px
        color grayTextLight
        a
            font-weight 500
    &__agree
        margin-bottom 16px
        line-height 21px
        color grayTextLight
        &-checkbox
            flex 0 0 16px
        &-text
            margin -2px 0 0 16px
    &__confirm
        margin-bottom 16px
    &__change-tel
        font-size 14px
        line-height 21px
        margin-top 8px
        font-weight 500
    &__code
        flex 0 0 152px
        &-input
            width 30px
            padding 0
            text-align center
        &-label
            margin-left 16px
            line-height 22px
            color grayTextLight
            min-width 250px
            span
                color black
            b
                text-decoration underline
    &__form-rights
        &-title
            flex 0 0 198px
            line-height 22px
            color grayTextLight3
        &-field
            margin-bottom 26px
            cursor pointer
        &-label
            line-height 22px
            color grayText2
        &-help
            width 16px
            height 16px
            border-radius 50%
            border 1px solid violetColor
            margin-left 7px
            position relative
            top -2px
        &-error
            margin-bottom 14px
    &__start-pic
        width 360px
    &__start-button
        margin-top 55px

.viewPass
    position absolute
    cursor pointer
    right 9px
    top 9px